services:
  backend:
    build:
      context: .
      dockerfile: BACKEND/Dockerfile
    image: shalem007/backend-chatbot-phase1:latest
    container_name: rag-backend
    environment:
      - DB_PATH=/data/chatbot.db
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - backend_data:/data
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: rag-frontend/Dockerfile
    image: shalem007/frontend-chat-bot-phase-1:latest
    container_name: rag-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend_data:
